<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forus</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand"><h1 class="navbar-item title is-4">Forus</h1></div>
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <%= case Map.get(assigns, :user) do %>
            <% nil ->  %>
              <%= link gettext("Register"), to: accounts_user_path(@conn, :new), class: "navbar-item" %>
              <%= link gettext("Login"), to: accounts_session_path(@conn, :new), class: "navbar-item" %>
            <% user -> %>
              <%= link gettext("Logged as: %{user_name}", user_name: user.name), to: accounts_panel_path(@conn, :index), class: "navbar-item" %>
              <%= link gettext("Logout"), to: accounts_session_path(@conn, :delete), method: :delete, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </nav>

    <p class="notification is-info"><%= get_flash(@conn, :info) %></p>
    <p class="notification is-danger"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
