<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forus</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="d-flex align-items-start border-bottom mb-3">
      <%= link gettext("Forus"), to: home_path(@conn, :index), class: "navbar-brand" %>
      <div class="col"></div>
      <ul class="nav justify-content-end nav-pills">
        <%= case Map.get(@conn.assigns, :user) do %>
          <%= nil ->  %>
          <li class="nav-item">
            <%= link gettext("Register"), to: accounts_user_path(@conn, :new), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link gettext("Login"), to: accounts_session_path(@conn, :new), class: "nav-link" %>
          </li>  
          <%= user -> %>
          <li>
            <%= user.name %>
          </li>
          <li class="nav-item">
            <%= link gettext("Logout"), to: accounts_session_path(@conn, :delete), method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
